/* reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* layout */
body {
    font-family: Microsoft JhengHei;
}

.wrap {
    width: 1024px;
    margin: 0 auto;
}

.header {
    position: relative;
    background: url(../images/img-headerShape.png) no-repeat;
    padding: 200px 135px 290px 135px;
}

.footer {
    background-image: url(../images/img-Looper-bg.png);
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    padding-top: 34px;
    padding-bottom: 34px;
}

.clearfix {
    clear: both;
}

/* 獨立 */
.intro {
    position: absolute;
    left: 127px;
    top: 121px;
    float: left;
    text-align: center;
    /* margin-right: 136px; */
}

.intro h1 {
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.intro .photo {
    border-radius: 50%;
}

.intro p {
    font-size: 14px;
    color: #4A4A4A;
    line-height: 1.5;
}

.concat {
    position: absolute;
    left: 475px;
    top: 121px;
    font-size: 18px;
}

.concat li {
    margin-bottom: 10px;
}

.concat li a {
    text-decoration: none;
    color: #ffffff;
}

.concat li img {
    /* 問! 字體與圖片沒有對齊置中??? */
    /* float: left; */
    margin-right: 12px;
}

.content {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.content h2 {
    color: #1736DC;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 48px;
}

.content h3 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.skill {
    margin-bottom: 56px;
}

.skill .skill-layout,
.skill .skill-js,
.skill .skill-dev {
    /* position: relative; */
    float: left;
    border: 1px solid #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 5px 5px #dbdbdb;
    padding: 35px;
    margin-right: 20px;
    color: #4A4A4A;
}

.skill .skill-layout {
    border-bottom: 10px solid #F58D23;
}

.skill .skill-js {
    border-bottom: 10px solid #539E43;
}

.skill .skill-dev {
    border-bottom: 10px solid #6762A6;
}

.skill .desc li {
    width: 215px;
    font-size: 10px;
    line-height: 1.5;
    text-align: left;
    list-style: disc;
}

/* .skill p {
    width: 215px;
    font-size: 10px;
    line-height: 1.5;
    text-align: left;
} */

/* fix: 3..skillBottom1,skillBottom2,skillBottom3 建議可以為 .skill li 的 border-bottom 來呈現，減少 div 的使用可以讓網頁更簡潔 */
/* .skill .skillBottom1,
.skill .skillBottom2,
.skill .skillBottom3 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 284px;
    border-radius: 0 0 10px 10px;
    padding-bottom: 3px;
    padding-top: 3px;
} */

/* .skill .skillBottom1 {
    background: #F58D23;
}

.skill .skillBottom2 {
    background: #539E43;
}

.skill .skillBottom3 {
    background: #6762A6;
} */

.exp {
    position: relative;
    text-align: center;
    margin-bottom: 56px;
}

.exp .dotStart {
    position: absolute;
    left: 445px;
    top: 71px;
    z-index: 1;
}

.exp .dotTime-hex {
    position: absolute;
    /* left: 448px;
    top: 148px; */
    left: -42px;
    top: 0;
    z-index: 1;
}

.exp .dotTime-sweet {
    position: absolute;
    /* left: 448px; */
    top: 0px;
    right: -47px;
    z-index: 1;
}

.exp .dotTime-front {
    position: absolute;
    /* left: 448px;
    top: 439px; */
    left: -42px;
    top: 0;
    z-index: 1;
}

.exp .exp-sweet,
.exp .exp-hex,
.exp .exp-front {
    width: 260px;
    border: 1px solid #FB56BF;
    border-radius: 10px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.53px;
    color: #4A4A4A;
}

.exp .exp-sweet {
    /* position: absolute; */
    position: relative;
    left: 155px;
    top: 57px;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.exp .exp-hex {
    /* position: absolute; */
    position: relative;
    /* right: 155px;
    top: 145px; */
    left: 490px;
    top: 70px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.exp .exp-front {
    /* position: absolute; */
    position: relative;
    /* right: 155px;
    top: 436px; */
    left: 490px;
    top: 70px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.exp .expSectionBold {
    width: 460px;
    border-right: 1px solid #D8D8D8;
    /* padding-top: 297px;
    padding-bottom: 297px; */
    padding-bottom: 180px;
}

.exp .boxBottom {
    position: absolute;
    bottom: 0;
    left: 430px;
    background: #D8D8D8;
    width: 60px;
    border-radius: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.exp .redFont {
    color: #8A1737;
}

.exp span {
    font-weight: bold;
}

/* fix: 8..works li 下邊間距、留白的部分建議可以由 .works 的 padding 統一管理*/
.works {
    margin-bottom: 98px;
}

.works .worksFont {
    color: #FB56BF;
}

.works .code-work div {
    background-color: #fdb4e3;
    padding: 35px 0 0 80px;
    margin-bottom: 10px;
}

.works .bmi-work div {
    background-color: #424242;
    padding: 35px 102px 35px 102px;
    margin-bottom: 10px;
}

.works .excel-work div {
    background-color: #8ad7fa;
    padding: 35px 102px 35px 102px;
    margin-bottom: 10px;
}

.works li {
    float: left;
    margin-right: 20px;
    text-align: left;
    font-size: 14px;
    /* margin-bottom: 98px; */
}

.works li span {
    font-weight: bold;
}

.works li span,
.works li p {
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.works li:hover {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.40);
    border-radius: 4px;
    cursor: pointer;
}

.about {
    padding-right: 145px;
    padding-left: 145px;
    text-align: center;
    margin-bottom: 74px;
}

.about h2 {
    font-size: 24px;
    font-weight: bold;
    color: #fb56bf;
    margin-bottom: 48px;
}

.aboutPhoto {
    float: left;
    background: url(../images/photo.jpg) no-repeat top;
    background-size: cover;
    width: 260px;
    margin-right: 44px;
    padding-top: 167px;
    padding-bottom: 167px;
}

.about p {
    text-align: left;
    padding-top: 30px;
    line-height: 26px;
    font-size: 14px;
}